*config*
*.code-workspace
/temp*
/**/log
/test
test*
*.bat
/**/fgdb
/unreleased
/**/constants.py
/**/config.py
/**/test*.py
/**/test*.ipynb
/**/*config.py
/**/Remark.md
/**/unreleased*.py
/**/unreleased*.ipynb
/**/data
.gitignore
.gitattributes
/.vscode
*.pdf
*.html